<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itfitness.opencvrehearse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--人像美颜-->
        <activity android:name=".demos.beauty.BeautyActivity" android:screenOrientation="portrait"/>
        <!--图形验证码提取-->
        <activity android:name=".demos.codeextra.CodeExtraActivity" android:screenOrientation="portrait"/>
        <!--浮雕效果-->
        <activity android:name=".demos.relief.ReliefActivity" android:screenOrientation="portrait"/>
        <!--简笔画-->
        <activity android:name=".demos.stickfigure.StickFigureActivity" android:screenOrientation="portrait"/>
        <!--图像映像-->
        <activity android:name=".demos.remap.RemapActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>